html, body {
  height: 100%;
}
.row {
  height: 92%;
}

.main {
  height: 100%;
  padding-left: 0;
}

.navbar{
  height: 8%;
}

.side {
  background: rgb(247, 247, 247);
  height: 100%;
  padding-top: 2%;
  border: 1px solid rgb(138, 138, 138);
  padding-right: 0px;
}

.tab-content {
  height: 100%;
}

.tab-pane {
  height: 100%
}

.CodeMirror {
  font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  font-size: 11pt;
  height: 75%;
  padding: 0px 0px;
}

.control {
  border-top: 1px solid rgb(138, 138, 138);
  padding-top: 1%;
  padding-right: 3px;
  height: 5.5%;
}

#output {
  height: 20%;
  color:rgb(247, 247, 247);
  background: rgb(34, 34, 34);
  margin: 1px;
}

.run-button {
  padding-left: 10px;
}

#connect{
  height: 25px;
  font-size: 15px;
  margin-left: 5px;
  line-height: 12px;
}

#ports, #rates{
  height: 25px;
  font-size: 15px;
  margin-left: 5px;
}

.baudrate {
  margin: 0 5px;
}

.btn {
  height: 25px;
  font-size: 18px;
  line-height: 12px;
  margin-left: 20px;
}
